{% extends "layout/basic.html" %}
{%block content%}
{%for use in  userr%}
    <div class="container my-3">
      <div class="row">
         <div class = "col-md-4 text-left">
           <h2>{{use.username}}</h2>
            <p>Телефон:{{use.phone}}</p>
           <p>День рождения:{{use.bithrday}}</p>
           <p>О себе:{{use.bio}}</p>
        </div>
        <div class = "col-md-6">
          <a >
          <img class="w-100" src="{{use.avatar.url}}">
        </a>
        </div>
      </div>
      {%endfor%}
       {%for tr in  posts%}
    <div class="container my-5">
      <div class="row">
        <div class = "col-md-8">
          <a href="{% url 'main:detail' post_pk=tr.id author=tr.author%}">
          <img class="w-50" src="{{tr.image.url}}">
        </a>
        </div>
        <div class = "col-md-4 text-left">
           <h2>{{tr.text}}</h2>
        </div>
    </div>
     {%endfor%}
{% endblock %}